li{
    list-style: none;
    text-indent: -1em; /*переміщення текста ліворуч на один символ */

}
/*використовуємо псевдоклас */
li:before{
    content: '\25b2'; /*код із LibreOffice Writer - special symbols */
    padding-right: 5px; /* відстань між маркером і текстом */
    color: rgb(139, 21, 139);
}