div{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;   
    color: indianred;
}

div::before{
    content: "«";
}

div::after{
    content: "»"
}

div::before, div::after{
    font-family: 'Lato', sans-serif;
    color: rgb(0, 9, 130);
    font-size: 1.875rem;
}