h1{
   padding-left: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
   list-style-type:square
}

li:first-of-type{
   color: rgb(255, 0, 98);
   font-weight: bold;

}

li:last-of-type{
   color: rgb(42, 197, 28);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-style: oblique;
}